# Data manipulation and calculus
numpy>=1.26.0,<2.0.0
pandas==2.2.3
scikit-learn==1.2.2

# Visualisation
matplotlib==3.10.1
seaborn==0.13.2

# Jupyter Notebook
jupyter==1.0.0
jupyterlab==4.4.0
notebook==7.4.0

# Deep Learning
tensorflow==2.19.0
keras

# Time series analysis
statsmodels==0.14.4
prophet

# Financial data
yfinance==0.2.55

# others
plotly
openpyxl
ipywidgets
tqdm
